﻿@model Autoprotect.Core.Entities.Claim

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h2>Search by ID</h2>
    <input type="text" id="claimId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />
</div>


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'Claims/Details/';

    function formatItem(item) {
        return item.Name + ': $' + item.Price;
    }


    $("input").keypress(function () {
        var id = $('#claimId').val();
        $.getJSON(uri + '/' + id)
            .done(function (data) {
                $('#product').text(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#product').text('Error: ' + err);
            });
    });

</script>